* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 3px solid black;
  width: 825px;
  margin: 4rem auto;
  position: relative;
}

.product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #f7f7f7;
  color: #000;
  text-transform: uppercase;
}

.container {
  display: flex;
  gap: 10px;
}

.product-img {
  margin-right: 2rem;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 0.7rem;
  font-weight: bold;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

.price {
  font-size: 1.5rem;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color {
  background-color: black;
  width: 1.3rem;
  height: 1.3rem;
  flex-direction: column;
  margin-right: 0.5rem;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

.product-description {
  margin-bottom: 10px;
}

.product-details {
  flex: 2;
  margin-top: 1rem;
  /* margin-right: 2rem; */
}

.product-info {
  margin-right: 2rem;
  /* justify-content: center; */
  /* align-self: center; */
  flex: 2;
}

.add-cart {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.details-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.details-list {
  list-style: square;
  margin-left: 1rem;
}

.details-list li {
  margin-bottom: 0.5rem;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
