* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6rem;
}

article {
  border: 7px solid black;
}

.header {
  background-color: bisque;
  text-align: center;
  text-transform: uppercase;
  height: 4rem;
}
.header h1 {
  padding: 1rem;
}

button {
  border: none;
  background-color: black;
  font-size: 1.5rem;
  color: azure;
  width: 100%;
  padding: 1rem;
  border-top: 5px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.price,
.details {
  font-size: 1.6rem;
  font-weight: bolder;
}

.shipping {
  color: rgb(182, 116, 16);
}

.moreInfo,
.moreDetails {
  /* color: blue; */
  color: black;
  font-size: 1.5rem;
  list-style: square;
}

.moreInfo:hover {
  text-decoration: none;
}

.moreInfo:visited {
  color: blue;
}

.moreInfo:active {
  color: blueviolet;
}

.container {
  height: 100%;
  width: 50%;
  margin: 4rem auto;
}

.moreDetails li {
  margin-left: 2rem;
}

/* article {
  margin: 1rem;
} */

.seperator p,
.seperator h2,
.seperator ul,
.seperator button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
