body {
  font-family: sans-serif;
  line-height: 1.6rem;
}

article {
  border: 2px solid black;
}

.header {
  background-color: bisque;
  text-align: center;
  text-transform: uppercase;
}

button {
  border: none;
  background-color: black;
  font-size: 1.5rem;
  color: azure;
}

button:hover {
  background-color: white;
  color: black;
}

.price,
.details {
  font-size: 1.6rem;
  font-weight: bolder;
}

.shipping {
  color: rgb(182, 116, 16);
}

.moreInfo,
.moreDetails {
  /* color: blue; */
  color: black;
  font-size: 1.5rem;
  list-style: square;
}

.moreInfo:hover {
  text-decoration: none;
}

.moreInfo:visited {
  color: blue;
}

.moreInfo:active {
  color: blueviolet;
}
