* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6rem;
  position: relative;
}

article {
  border: 7px solid black;
}

.header {
  background-color: bisque;
  text-align: center;
  text-transform: uppercase;
  height: 4rem;
}
.header h1 {
  padding: 1rem;
}

button {
  border: none;
  background-color: black;
  font-size: 1.5rem;
  color: azure;
  width: 100%;
  padding: 1rem;
  border-top: 5px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.price,
.details {
  font-size: 1.6rem;
  font-weight: bolder;
}

.shipping {
  color: rgb(182, 116, 16);
}

.moreInfo,
.moreDetails {
  /* color: blue; */
  color: black;
  font-size: 1.5rem;
  list-style: square;
}

.moreInfo:hover {
  text-decoration: none;
}

.moreInfo:visited {
  color: blue;
}

.moreInfo:active {
  color: blueviolet;
}

.container {
  height: 100%;
  width: 50%;
  margin: 4rem auto;
}

.moreDetails li {
  margin-left: 2rem;
}

/* article {
  margin: 1rem;
} */

.seperator p,
.seperator h2,
.seperator ul,
.seperator button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.like-button {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.sale {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 1392px;
  background-color: red;
  padding: 5px 21px;
  font-weight: bold;
  color: white;
}

.colors {
  border: 10px solid black;
  margin: 0 14px 0 0px;
}

.vibgyor-choice-1 {
  color: violet;
}

.vibgyor-choice-2 {
  color: indigo;
}

.vibgyor-choice-3 {
  color: blue;
}

.vibgyor-choice-4 {
  color: green;
}

.vibgyor-choice-5 {
  color: yellow;
}

.vibgyor-choice-6 {
  color: orange;
}

.vibgyor-choice-7 {
  color: red;
}
